.post-stats
  .post-action
    = mobile_translate_icon(post)

  - if post.public?
    .post-action
      = mobile_reshare_icon(post)

  .post-action
    = mobile_comment_icon(post)

  .post-action
    = mobile_like_icon(post)
