.tag {
  display: inline-block;
  font-weight: bold;
  &:hover {
    text-decoration: underline;
    background-color: lighten($link-color, 47%);
  }
}

a.tag { color: $link-color; }

h1.tag {
  border-bottom: 2px dotted $link-color;
  &:hover { border-bottom: 2px dotted $link-color; }
}

.info {
  .tag {
    background-color: #efefef;
    color: $text-grey;
    border-bottom: 1px dotted $border-dark-grey;
    &:hover { border-bottom: 1px solid $border-dark-grey; }
  }
}
.page-tags {
  #tags_show {
    .sidebar {
      h3 {
        font-size: 13px;
        line-height: 1.1;
      }

      .side_stream #people-stream {
        .name { display: block; }
        .name, .diaspora_handle {
          word-break: break-all;
        }
      }
    }
    .col-md-9 {
      .tag-following-action {
        max-width: 100%;
        input[type="submit"] {
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100%;
        }
      }
    }
  }
}
.tag-synonyms,
.tag-ignored {
  margin-top: 15px;
}

.synonyms-tag-table,
.ignored-tag-table {
  .fr {
    float: right;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 20px;
    margin-right: 40px;
  }

  .tag {
    background-color: $tag-label-background-color;
    border-color: transparent;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    color: $tag-label-color;
    cursor: pointer;
    font-size: 11px;
    line-height: 1px;
    margin: 2px;
    padding: .8em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
  }
}
